<form #addform="ngForm">
    <table>
      <tr>
        <td>
            
            <md-form-field>
                <input required mdInput placeholder="Nombre" [(ngModel)]="jugador.nombre" name="nombre" #nombre="ngModel">
                <md-error>
                  Por Favor Ingrese un Nombre Valido
                </md-error>
              </md-form-field>
        </td> 
      </tr>
      
      <tr>
          <td>
              
              <md-form-field>
                  <input required mdInput placeholder="Posicion" [(ngModel)]="jugador.posicion" name="posicion" #posicion="ngModel">
                  <md-error>
                    Por Favor Ingrese una Posicion Valida
                  </md-error>
                </md-form-field>
          </td> 
        </tr>
        <tr>
            <td>
                
                <md-form-field>
                    <input required mdInput placeholder="ciudad" [(ngModel)]="jugador.ciudad" name="ciudad" #ciudad="ngModel">
                    <md-error>
                      Por Favor Ingrese una Ciudad Valida
                    </md-error>
                  </md-form-field>
            </td> 
          </tr>
          <tr>
              <td>
                  
                  <md-form-field>
                      <input required mdInput placeholder="Numero" [(ngModel)]="jugador.numero" name="numero" #numero="ngModel">
                      <md-error>
                        Por Favor Ingrese un Nombre Valido
                      </md-error>
                    </md-form-field>
              </td> 
            </tr>  
            <tr>
                <td>
                    
                    <div class="button-row">
                        <button md-raised-button color="primary">Guardar</button>
                    </div>
                </td> 
              </tr>   
    </table>
  </form>